@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
    @include media-breakpoint-down(lg){
        img{
            width:  40%;
            height: 40%;
        }
    }

    @include gradient;

    li{
        padding: 0 0.7rem;

        a{
            color: $logo-color1 !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}